* {
	border: 0;
	margin: 0;
	padding: 0;
}

body {
	font: 300 14px/22px Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pull-right {
	float: right;
}

html,
body,
#App,
#App > div,
.MapBox {
	height: 100%;
	width: 100%;
}

.MapControls {
	background: rgba(0,0,0,.1);
	position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
}

.MapControls label {
	border-right: 1px solid rgba(0,0,0,.1);
	display: inline-block;
	padding: 10px;
}

.MapControls label span {
	vertical-align: sub;
}

.MapControls label button,
.MapControls label input {
	display: inline-block;
	margin: -5px 0;
	padding: 5px;
	vertical-align: sub;
}

.MapControls label input[type="range"] {
	vertical-align: -webkit-baseline-middle;
}

/* probably against the terms */
.mapbox-logo,
.leaflet-bottom.leaflet-right {
	display: none;
}

/* popups */

.leaflet-popup-content {
	display: block;
	max-height: 400px;
	max-width: 400px;
	overflow: auto;
}

.price {
	float: right;
	margin-bottom: 10px;
}

.title {
	float: left;
	font-weight: bold;
	margin-bottom: 10px;
}