* {
	border: 0;
	margin: 0;
	padding: 0;
}

html,
body,
#App,
.MapBox {
	height: 100%;
	width: 100%;
}

.leaflet-popup-content {
	display: block;
	max-height: 400px;
	max-width: 400px;
	overflow: auto;
}

/* probably against the terms */
.mapbox-logo,
.leaflet-bottom.leaflet-right {
	display: none;
}

.price {
	float: right;
	margin-bottom: 10px;
}

.title {
	float: left;
	font-weight: bold;
	margin-bottom: 10px;
}